<div class="result" style="margin:10px 0 25px 0;">
  <div class="span7 res-thumb" style="width:560px;height:315px;display:inline-block;background-color:Gray;overflow:;">
    <!-- <%= image_tag "http://i.ytimg.com/vi/#{ video.unique_id }/hqdefault.jpg" %> -->
    <iframe width="560" height="315" src="http://www.youtube.com/embed/<%= video.unique_id %>?wmode=opaque" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="span5 res-data" style="width:360px;height:315px;overflow:hidden;">
    <div class="rel">
      <h3><a href="<%= video.player_url %>" target="_blank"><%= video.title %></a></h3>
      <h5 class="res-stats">
        By <%= link_to video.author.name, "http://www.youtube.com/user/#{ video.author.name }", :target => "_blank" %> | <%= time_ago_in_words(video.published_at) + " ago" %> | <%= number_with_delimiter(video.view_count, :delimiter => ',') %> views
      </h5>
      <p><%= video.description %></p>
      <br />
      <div class="res-more" >
        <span>Show More</span>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
