<div class="result" style="margin:10px 0 25px 0;">
  <div class="span7 res-thumb" style="width:560px;height:<%= video[:height] || 315 %>px;display:inline-block;background-color:Gray;overflow:;">
    <!-- <%= image_tag "http://i.ytimg.com/vi/video.unique_id/hqdefault.jpg" %> -->
    <% if video[:embed_code] %>
      <%= video[:embed_code].html_safe %>
    <% else %>
      <iframe width="560" height="315" src="<%= video[:embed_url] %>" frameborder="0" allowfullscreen></iframe>
    <% end %>
  </div>
  <div class="span5 res-data" style="width:360px;height:<%= video[:height] || 315 %>px;overflow:hidden;">
    <div class="rel">
      <h3><a href="<%= video[:player_url] %>" target="_blank"><%= video[:title] %></a></h3>
      <h5 class="res-stats">
        By <%= link_to video[:author_name],video[:author_url], :target => "_blank" %> |
        <%= time_ago_in_words(video[:published_at]) + " ago" %> |
        <%= number_with_delimiter(video[:view_count], :delimiter => ',') %> views |
        <%= video_duration(video[:duration]) %>
      </h5>
      <p class="share_download_links clearfix">
        <!-- <span>Share : </span> -->
        <%= link_to image_tag("download.png"), "http://offliberty.com/##{video[:player_url]}", :target => "_blank", :class => "download_link", :title => "Download Video" %>
        <%= link_to image_tag("facebook_share.png"), "http://www.facebook.com/sharer.php?u=#{ CGI.escape( video[:player_url] ) }&t=#{ CGI.escape( video[:title] + "via Vizbu" ) }", :target => "_blank", :title => "Share on Facebook" %>
        <%= link_to image_tag("twitter_share.png"), "http://twitter.com/intent/tweet?status=#{ CGI.escape( video[:title] + " " + video[:player_url] + " via @vizbu" ) }", :target => "_blank", :title => "Share on Twitter" %>
      </p>
      <p><%= video[:description] %></p>
      <br />
      <div class="res-more" >
        <span>Show More</span>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
