<div class="result" style="margin:10px 0 25px 0;">
  <div class="span7 res-thumb" style="margin-left:0;width:560px;height:315px;display:inline-block;background-color:Gray;overflow:;">
    <!-- <%= image_tag "http://i.ytimg.com/vi/#{ video.unique_id }/hqdefault.jpg" %> -->
    <iframe width="560" height="315" src="http://www.youtube.com/embed/<%= video.unique_id %>" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="span5 res-data" style="width:360px;">
    <h3><a href="<%= video.player_url %>"><%= video.title %></a></h3>
    <p><%= video.description %></p>
  </div>
  <div class="clear"></div>
</div>
