<div class="span6 result-grid" style="margin-bottom:10px;margin-top:10px;height:<%= video[:height] || 264 %>px;">
  <% if video[:thumb_url] %>
    <div class="img-thumb-container" data-embed-code="<%= video_embed_code(video, :grid) %>" >
      <img class="img-thumb" src="<%= video[:thumb_url] %>" ></img>
      <table class="img-player-play-container">
        <tr><td>
          <%= image_tag "player_play.png", :class => "img-player-play" %>
        </td></tr>
      </table>
    </div>
  <% else %>
    <%=raw video_embed_code(video, :grid) %>
  <% end %>
</div>
