<style>
  html, body, .container, .row, .span12 {
    height:100%;
  }
</style>
<div class="row">
  <div class="span12 home-main-container" style="text-align:center;height:100%;" >
    <table style="width:100%;height:100%;"><tr><td style="position:relative;">
      <a href="/"><%= image_tag "logo.png", :class => "main-logo" %></a>
      <%= render "search_form" %>
    </td></tr></table>
  </div>
</div>

<div class="social-buttons" style="">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vizbu.com" data-text="Check out Vizbu - Search Engine for music and videos" data-via="vizbu">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.vizbu.com%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=284529138288915" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:105px; height:21px;" allowTransparency="true"></iframe>

    <!-- Place this tag where you want the +1 button to render -->
    <g:plusone size="medium" annotation="inline" width="120"></g:plusone>

    <!-- Place this render call where appropriate -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
</div>


<div class="home-footer" >
  Vizbu &copy; 2012 | <%= link_to "Blog", "http://blog.vizbu.com" %> | <%= link_to "About", "/about" %> | <a href="/privacy">Privacy</a> | <%= link_to "Twitter", "https://twitter.com/#!/vizbu" %> | <%= link_to "Google+", "https://plus.google.com/b/104414201826448074596/104414201826448074596/posts" %>
</div>
