<div class="row">
  <div class="span2">
    <a href="/" class="logo-link"><%= image_tag "logo.png", :class => "small-logo" %></a>
  </div>
  <div class="span10" style="padding:20px 0;">
    <%= render "search_form" %>
  </div>
  <div class="span10">
    <span class="results-for">Search results for <span><%= @q %></span></span>
  </div>
  <div class="span2">
    <span class="total-results pull-right" style="margin-right:">About <b><%= number_with_delimiter(@result.total_result_count, :delimiter => ',')  %></b> results</span>
  </div>
  <div class="span12">
    <hr style="margin-top:10px;margin-bottom:5px;" />
      <h3>Filter : 
      <%= if ( @view == "list" ) then "List" else link_to "List", params.merge({ :view => "list" }) end %> |
      <%= if ( @view == "grid" ) then "List" else link_to "Grid", params.merge({ :view => "grid" }) end %>
      <!--
      <%= select_tag "view", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe %>
      -->
    <hr style="margin-top:5px;margin-bottom:5px;" />
  </div>
    <% debug @result.videos[0] %>
    <% @result.videos.each_with_index do |video, index| %>
      <%= render "result_#{@view}", :video => video, :index => index %>
    <% end %>
</div>
<br/>

<%= render "pagination", :result => @result %>
